[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/csm"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/csm
	url = https://github.com/AlexKaravaev/csm.git
	branch = ros2_csm_eigen
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/dynpick_driver"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/dynpick_driver
	url = https://github.com/hsr-project/dynpick_driver.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/exxx_control_table"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/exxx_control_table
	url = https://github.com/hsr-project/exxx_control_table.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/graspnet_ros"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/graspnet_ros
	url = https://github.com/hsr-project/graspnet_ros.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsr_common"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsr_common
	url = https://github.com/hsr-project/hsr_common.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_common"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_common
	url = https://github.com/hsr-project/hsrb_common.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_control"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_control
	url = https://github.com/hsr-project/hsrb_control.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_controllers"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_controllers
	url = https://github.com/hsr-project/hsrb_controllers.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_drivers"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_drivers
	url = https://github.com/hsr-project/hsrb_drivers.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_interfaces"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_interfaces
	url = https://github.com/hsr-project/hsrb_interfaces.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_launch"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_launch
	url = https://github.com/hsr-project/hsrb_launch.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_manipulation"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_manipulation
	url = https://github.com/hsr-project/hsrb_manipulation.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_monitor"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_monitor
	url = https://github.com/hsr-project/hsrb_monitor.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_moveit"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_moveit
	url = https://github.com/hsr-project/hsrb_moveit.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_robot"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_robot
	url = https://github.com/hsr-project/hsrb_robot.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_rosnav"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_rosnav
	url = https://github.com/hsr-project/hsrb_rosnav.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_simulator"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_simulator
	url = https://github.com/hsr-project/hsrb_simulator.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_teleop"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/hsrb_teleop
	url = https://github.com/hsr-project/hsrb_teleop.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/ros2_laser_scan_matcher"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/ros2_laser_scan_matcher
	url = https://github.com/hsr-project/ros2_laser_scan_matcher.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_common"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_common
	url = https://github.com/hsr-project/tmc_common.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_common_msgs"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_common_msgs
	url = https://github.com/hsr-project/tmc_common_msgs.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_database"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_database
	url = https://github.com/hsr-project/tmc_database.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_drivers"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_drivers
	url = https://github.com/hsr-project/tmc_drivers.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_gazebo"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_gazebo
	url = https://github.com/hsr-project/tmc_gazebo.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_manipulation"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_manipulation
	url = https://github.com/hsr-project/tmc_manipulation.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_manipulation_base"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_manipulation_base
	url = https://github.com/hsr-project/tmc_manipulation_base.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_manipulation_planner"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_manipulation_planner
	url = https://github.com/hsr-project/tmc_manipulation_planner.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_navigation"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_navigation
	url = https://github.com/hsr-project/tmc_navigation.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_realtime_control"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_realtime_control
	url = https://github.com/hsr-project/tmc_realtime_control.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_teleop"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_teleop
	url = https://github.com/hsr-project/tmc_teleop.git
	branch = jazzy
[submodule "hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_voice"]
	path = hsrb_pnp_ws/src/hsr_repos_ignition_jazzy/tmc_voice
	url = https://github.com/hsr-project/tmc_voice.git
	branch = jazzy
[submodule "yolox_ws/src/graspnetAPI"]
	path = yolox_ws/src/graspnetAPI
	url = https://github.com/graspnet/graspnetAPI
[submodule "yolox_ws/src/graspnet-baseline"]
	path = yolox_ws/src/graspnet-baseline
	url = https://github.com/graspnet/graspnet-baseline
[submodule "yolox_ws/src/YOLOX-ROS"]
	path = yolox_ws/src/YOLOX-ROS
	url = https://github.com/Ar-Ray-code/YOLOX-ROS
	branch = jazzy
[submodule "yolox_ws/src/compressed_rgbd_msgs"]
	path = yolox_ws/src/compressed_rgbd_msgs
	url = https://github.com/hsr-project/compressed_rgbd_msgs.git
	branch = jazzy
[submodule "yolox_ws/src/coordinate_transform_util_ros"]
	path = yolox_ws/src/coordinate_transform_util_ros
	url = https://github.com/hsr-project/coordinate_transform_util_ros.git
	branch = main
[submodule "yolox_ws/src/cv_bridge_util"]
	path = yolox_ws/src/cv_bridge_util
	url = https://github.com/hsr-project/cv_bridge_util.git
	branch = jazzy
[submodule "yolox_ws/src/graspnet_ros"]
	path = yolox_ws/src/graspnet_ros
	url = https://github.com/hsr-project/graspnet_ros.git
	branch = jazzy
[submodule "yolox_ws/src/instance_segmentation_msgs"]
	path = yolox_ws/src/instance_segmentation_msgs
	url = https://github.com/hsr-project/instance_segmentation_msgs.git
	branch = jazzy
